{% extends "base.html" %}

{% block content %}

<!-- 
    The name of the route that will handle this POST request is in the form field 'action'. In this case it is "/add-task"
-->
<form action="/add-task" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
    <!-- the "for" and "id" variables must use the same name-->


    <!-- the "for" and "id" variables must use the same name-->
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="2"></textarea>
    <!--<input type="text" name="description" id="description">-->

    <input type="submit" value="Add Task">

</form>

{% endblock %}